<h1>Employee list</h1><hr>
<% @Employees.each do |employee| %>
<h2><li><%= link_to employee.first_name, employee_path(employee) %></h2><hr>

<%end%>
<%= link_to "Create New Employee", new_employee_path%><br>
<%= link_to "Dog list", dogs_path%>